<header class="header">
    <section class="container">
        <h1><%- config.title %></h1>
        <hr>
    </section>
</header>
<section class="container">
    <% page.posts.sort('-date').forEach(function(post) {%>
        <div class="row">
            <div class="column">
                <h2><%- post.date.format("YYYY-MM-DD") %></h2>
                <h1><%- post.title %></h1>
                <p><%- post.content %></p>
                <hr>
            </div>
        </div>
    <% })%>
    <div class="row">
        <div class="column">
            <div class="page-nav">
                    <%- paginator({
                        prev_text: '&laquo; Prev',
                        next_text: 'Next &raquo;'
                      }) %>
            </div>
        </div>
    </div>
</section>