<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="<%- config.author %>">
        <meta name="description" content="<%- config.description %>">
        <link rel="shortcut icon" href="about:blank">
        <%- css('style.css') %>
        <title><%- page.title ? page.title + " - " + config.title : config.title %></title>
   </head>
    <body>
        <header>
            <h1><a href="/"><%- config.title %></a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <%- body %>
        <footer></footer>
    </body>
</html>
