<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="<%- config.author %>">
        <meta name="description" content="<%- config.description %>">
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
	<!-- <%- css('style.css') %> -->
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
	<title><%- page.title ? page.title + " - " + config.title : config.title %></title>
   </head>
    <body>
      <main class="container">
        <header>
          <h1><a href="/"><%- config.title %></a></h1>
        </header>
	<%- body %>
      </main>
        <footer></footer>
    </body>
</html>
